@import "bootstrap";

.header {
  text-align: center;
}

.alert {
  text-align: center;
  margin-bottom: 0;
  font-size: 16px;
  color: darkblue;
}

.field {
  margin-top: 5px;
}

.btn.btn-primary,
.btn.btn-danger {
  width: 100%;
  margin-top: 15px;
}
