<h1 class="header"><%= current_user.name.titleize %>'s Attendance History</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
    <% @attendances.each do |clock_time| %>
      <!-- CSS class is based on attendance status (in or out) -->
      <p class="<%= clock_time.status == 1 ? 'time-in' : 'time-out' %>" id="main-text">
        <%= clock_time.created_at.strftime('%D -- %H:%M') %> | <%= link_to "Edit", edit_attendance_url(clock_time) %>
      </p>
    <% end %>
  </div>
</div>
